@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    /* Ocultar barra de scroll para Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Ocultar barra de scroll para IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}