@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

/* Tailwind */
@layer base {

    /* Theme variables (light) */
    :root {
        --bg-page: 249 250 251;
        --bg-surface: 255 255 255;
        --text-main: 17 24 39;
        --text-muted: 107 114 128;
        --border-color: 229 231 235;
        --color-brand: 17 24 39;
    }

    /* Theme variables (dark) */
    .dark {
        --bg-page: 39 39 42;
        --bg-surface: 63 63 70;
        --text-main: 244 244 245;
        --text-muted: 161 161 170;
        --border-color: 82 82 91;
        --color-brand: 241 245 249;
    }

    /* Sport themes (brand color) */
    .theme-run {
        --color-brand: 34 197 94;
    }

    .theme-trail {
        --color-brand: 21 128 61;
    }

    .theme-hyrox {
        --color-brand: 234 179 8;
    }

    .theme-crossfit {
        --color-brand: 239 68 68;
    }

    .theme-walking {
        --color-brand: 16 185 129;
    }
}